---
import { getNameOfMonth } from '../dates.ts';

const { date } = Astro.props;
---

<style>
  .end-label {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0.5em 0;
  }
</style>

<div class="end-label">{getNameOfMonth(date.month)} {date.year}</div>
